{% extends 'base.html' %}

{% block content %}

<!-- all recent posts -->
<div class="blog-post">
  <h2 class="text-uppercase text-warning" style="letter-spacing: 2px">
    {{ category }} Posts
  </h2>
  {% if posts %}
  {% for post in posts %}
  <div class="card border-0">
    <div class="card-body">
      <h3> <a href="{% url 'blogs' post.slug %}" class="text-dark font-weight-bold">{{ post.title }}</a></h3>
      <small class="mb-1 text-muted">{{ post.created_at | timesince }} ago | {{ post.author }}</small>
      <p class="card-text"> {{ post.short_description | truncatewords:25 }}</p>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="card border-0">
    <div class="card-body">
      <h3 class="text-dark font-weight-bold">No Posts Available</h3>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}